{%extends "layout.html"%}
{%block content%}
    <div class="p-5">
        <div class="mb-4">
            <h3 class="h4 font-weight-bold text-theme">Login</h3>
        </div>
        <h6 class="h5 mb-0">Welcome Back!</h6>
        <p class="text-muted mt-2 mb-4">Enter your email address and password.</p>

        <form action="{{ url_for('login') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group mb-2">
                {{form.email.label()}}
                {% if form.email.errors %}
                    {{form.email(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.email(class="form-control")}}
                {%endif%}
            </div>
            <div class="form-group mb-4">
                {{form.password.label()}}
                {% if form.password.errors %}
                    {{form.password(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.password(class="form-control")}}
                {%endif%}
            </div>
            {{form.submit_btn(class="btn btn-theme")}}
        </form>
    </div>
{%endblock%}
{%block page_switch%}
<p class="text-muted text-center mt-3 mb-0">Don't have an account? <a href="{{url_for('register')}}" class="text-primary ml-1">Register</a></p>
{%endblock%}